.navbar-brand1 {
    font-size: 40px;
    line-height: 1;
    font-family: "Cookie", Arial, sans-serif, cursive;
}

.nav-menu {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px;
    transition: all .7s ease-in-out;
}

.custom-navbar {
    /* background: #3a7bd5;
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
    background: linear-gradient(to right, #3a6073, #3a7bd5); */
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #111a66);
    background: linear-gradient(to right, #004e92, #111a66);
    /* background: -webkit-linear-gradient(to right, #004e92, #003c70, #111a66);
    background: linear-gradient(to right, #004e92, #003c70, #111a66); */
    /* padding: 10px 30px; */
    padding: 0px;
}

.menu-item {
    font-size: 15px;
    letter-spacing: 1px;
    color: #eee;
    transition: color 0.5s;
    font-family: 'Montserrat', sans-serif;
}

.menu-item:hover {
    color: #70aed2;
}

.nav-active {
    color: #70aed2;
}

.line1,
.line2,
.line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.header {
    /* height: 200vh; */
    /* background: #3a7bd5;
    background: -webkit-linear-gradient(to top, #3a6073, #3a7bd5);
    background: linear-gradient(to top, #3a6073, #3a7bd5); */
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #003c70, #111a66);
    background: linear-gradient(to right, #004e92, #003c70, #111a66);
    z-index: 10;
}

.shape1 {
    position: absolute;
    bottom: 0%;
    top: 50%;
    left: 50%;
    z-index: 1;
}


/* @media (min-width:784px) and (max-width: 992px) {
    .sec-img {
        height: 50vh;
    }
} */

.gradient-background {
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #003c70, #111a66);
    background: linear-gradient(to right, #004e92, #003c70, #111a66);
}

@media (max-width: 992px) {
    .header {
        padding-top: 150px;
    }
    .nav-menu {
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 10px;
        transition: all .7s;
    }
    .custom-navbar {
        padding: 0px;
    }
    .nav-item {
        margin-left: 50px;
    }
    .services {
        padding: 0px!important;
    }
    .btn-primary-color {
        max-width: 50%!important;
    }
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}

.banner-heading {
    z-index: 100;
    color: white;
    font-size: 45px;
    font-family: 'Baloo 2', cursive;
}

.heading-anim {
    animation-name: heading;
    animation-duration: 2s;
}

.banner-heading-sm {
    color: white;
    font-size: 25px;
    font-family: 'Baloo 2', cursive;
}

@keyframes heading {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #003c70);
    background: linear-gradient(to right, #004e92, #003c70);
}

.fromLeft {
    animation-name: fromLeft;
    animation-duration: 2s;
}

.fromTop {
    animation-name: fromTop;
    animation-duration: 2s;
}

.fromRight {
    animation-name: fromRight;
    animation-duration: 2s;
}

.fromBottom {
    animation-name: fromBottom;
    animation-duration: 2s;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromTop {
    0% {
        transform: translatey(-120px);
        opacity: 0;
    }
    100% {
        transform: translatey(0);
        opacity: 1;
    }
}

@keyframes fromBottom {
    0% {
        transform: translatey(120px);
        opacity: 0;
    }
    100% {
        transform: translatey(0);
        opacity: 1;
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(120px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* services */

.services {
    padding: 150px;
    font-family: 'Baloo 2', cursive;
}

.sol-cards {
    font-family: 'Baloo 2', cursive;
    background-color: #F0F0F0;
    border: 0px solid;
    border-radius: 8px;
    cursor: pointer;
    transition: all .4s linear;
    z-index: 1;
    /* margin-bottom: 50px; */
}

.sol-card {
    border: 0px solid;
    border-radius: 8px;
    /* margin-bottom: 50px; */
}

.sol-cards::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #111a66);
    background: linear-gradient(to right, #004e92, #111a66);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.4s linear;
    border: 0px solid;
    border-radius: 8px;
}

.sol-cards:hover::after {
    opacity: 1;
}

.sol-cards> :hover {
    color: white;
}


/* Team */

.team {
    /* background: #3a7bd5;
    background: -webkit-linear-gradient(to top, #3a6073, #3a7bd5);
    background: linear-gradient(to top, #3a6073, #3a7bd5); */
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #111a66);
    background: linear-gradient(to right, #004e92, #111a66);
    font-family: 'Baloo 2', cursive;
}

.team-img {
    border-radius: 50px;
    width: 250px;
    height: 200px;
    position: relative;
    top: 30px;
    z-index: 1000;
    box-shadow: rgb(122, 122, 122) 0.5px 1px 10px;
}

.team-desc {
    position: relative;
    border-radius: 10px;
    width: 100%;
    background-color: #dddddd;
    font-size: 18px;
    padding-top: 10px;
}

.team-footer {
    border-top: 1px rgb(194, 194, 194) solid;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    background-color: #cecece;
    font-size: 25px;
}

.footer {
    /* background: #3a7bd5;
    background: -webkit-linear-gradient(to top, #3a6073, #3a7bd5);
    background: linear-gradient(to top, #3a6073, #3a7bd5); */
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #111a66);
    background: linear-gradient(to right, #004e92, #111a66);
    font-family: 'Baloo 2', cursive;
    padding-top: 130px;
    padding-bottom: 70px;
}

.btn-primary-color {
    background-color: #dddddd;
    color: black;
    border-radius: 15px;
    border: 0px;
    font-size: 30px;
    transition: all .4s linear;
    z-index: 1;
    max-width: 25%;
}

.btn-primary-color::after {
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #111a66);
    background: linear-gradient(to right, #004e92, #111a66);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.4s linear;
    border: 0px solid;
    border-radius: 8px;
}

.btn-primary-color:hover::after {
    opacity: 1;
}

.btn-primary-color:hover {
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #111a66);
    background: linear-gradient(to right, #004e92, #111a66);
    color: white;
}